<li id="<%= dom_id(participant) %>">
  <%= link_to participant, user_path(participant) %> (<%= link_to_remote "remove", 
        { :url => unregister_user_movie_night_path(participant, movie_night), :method => :post } %>)
</li>
