* {
	margin: 0;
	padding: 0;
}
html, body { height: 100%; width: 100%; }
body {
	font-size: small;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}

#container {
    padding: 1em 0 2em 0;
}

#content {
    padding: 2em;
}

div#navcontainer
{
background-color: #1F00CA;
border-top: solid 1px #FFFFFF;
border-bottom: solid 1px #FFFFFF;
}

div#navcontainer ul
{
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color: white;
text-align: center;
margin: 0;
padding-bottom: 5px;
padding-top: 5px;
}

div#navcontainer ul li
{
display: inline;
margin-left: -4px;
}

div#navcontainer ul li a
{
padding: 5px 10px 5px 10px;
color: white;
text-decoration: none;
border-right: 1px solid #fff;
}

div#navcontainer ul li a:hover
{
background-color: #16008D;
color: white;
}

#active a { border-left: 1px solid #fff; }

/* === FLASH MESSAGES === */
div#flash-notice {
	
}

div#flash-warning {
	
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}