* {
	margin: 0;
	padding: 0;
}
html, body { height: 100%; width: 100%; }
body {
	font-size: small;
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color: #333;
}

#container {
    padding: 1em 0 2em 0;
}

#content {
    padding: 2em;
}

#active a { border-left: 1px solid #fff; }

/* === FLASH MESSAGES === */
div#flash-notice {
	
}

div#flash-warning {
	
}

div#flash-error {
	
}

/* === ERROR MESSAGES === */
div#errorExplanation {
	
}

div#errorExplanation h2 {
	
}

div#errorExplanation p {
	
}

div#errorExplanation ul {
	
}

div#errorExplanation ul li {
	
}

/* === FORMS === */
div.fieldWithErrors {
	
}

div.fieldWithErrors label {
	
}

div.fieldWithErrors input, div.fieldWithErrors select, 
div.fieldWithErrors textarea
{
	
}