<div class="span-11">
  <h2>welcome to movielist</h2>
  <p class="preamble">
    movielist allows you to keep track of which movies you have seen, which movies 
    you want to see and your favorite movies. 
  </p>
  <p class="preamble">
    Another nice feature is something called 
    <%= link_to 'movie night', movie_nights_path %>, which helps you decied which movie you and your friends should watch next.
  </p>
  <p class="preamble">
    The site relies on <%= link_to 'IMDB', 'http://www.imdb.com' %>. Every movie added to the site must
    have a valid IMDB URL. Feel free to <%= link_to 'add', new_movie_path %> movies missing.
  </p>
</div>

<div class="span-1">
  &nbsp;
</div>

<div class="span-11 last">
  <h2>add movie</h2>

  <h2>movie night</h2>
  
</div>