<div class="span-12">
  <% if !logged_in? %>
    <p><%= link_to 'Log in', login_path %> or <%= link_to 'sign up', signup_path %></p>
  <% end %>
  
  <h2>Add movie</h2>
  
  <p>
    url_for: 
    <%#= url = url_for(user_seen_index_path(current_user)) %>
    <%= url = url_for({}) %>
  <p>
    current_page:
    <%= current_page?(url) %>
  </p>
    
  
  <h2>Movie night</h2>
</div>

<div class="span-12 last">
  <h2>blah</h2>
</div>